.card {
    box-shadow: 2px 2px 5px $color-secondary;

    &--border {
        border: 3px solid #00FFB2;
    }

    .card__image-wrapper {
        .card__image {
            width: 100%;
        }
    }

    .card__caption-wrapper {
        padding: 5% 10%;
        font-family: $main-font;
        
        .card__caption-heading {
            font-size: 2.4rem;
            font-weight: 400;
            margin: 0;

            .card-caption-tag {
                font-size: 0.3em;
                padding: 2%;
                background: $color-secondary;
                border-radius: 20px;
                margin: 0.4%;

                &--active {
                    background: #00FFB2;
                }
            }

        }

        .card__caption-paragraph {
            color: $color-secondaryy;
        }

        .card__buttons-wrapper {
            padding-top: 2%;

            .card__button-link {
                .card__button-button {
                    padding: 2.5% 6%;
                    border: 2px solid $color-primary;

                    &--book {
                        background: $color-primary;
                        color: #fff;
                    }

                    &--info {
                        border: 2px solid $color-primary;
                        background: #fff;
                    }

                }

                .card__button-button:hover {
                    opacity: 0.5;
                    cursor: pointer;

                }
            }
        }
    }
}