@use "blocks";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-font: 'Roboto', sans-serif;
$color-primary: #000;
$color-secondary: grey;

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .card__image-wrapper {
        .card__image {
            width: 100%;
        }
    }
}
